# PYTHON IS A CASE-SENSITIVE LANGUAGE

# Comments

Comments are programmer-coherent statements & describe what a block of code means or does.
Comments are highly useful for those who are using our codes after us.


Comments are ignored by the interpreter.They are only useful for those who read the code and understand its functionality.

In [11]:
#this is a single-line comment
a = 10
a

10

Comments have to be block specific,least redundant,specific to particular block of code, crisp & precise.

## Doc-String comments

They are not same as multi-line comments but can be used as multi-line comments.They are not ignored by the interpreter.

In [2]:
#when doc-string alone is used then it returns a string
""" This is a doc string"""

' This is a doc string'

In [6]:
#when doc-string is used above the code it does return string
"""
multi-line
comment
"""
a = 2
print(a)
"""When placed at the end it returns 
  a string again"""

2

'When placed at the end it returns \n  a string again'

# Variables

Variables in python have unique features like:
    Creation = Declartion
    We need not give data type while declaring.
    E.g : a = 10 and we are done declaring a variable.
    We can perform arithemetic operations on variables.

In [10]:
a = 10 #declaring a variable
print(a)
print(type(a)) #type is a built-in fn that returns the type of variable.
b = 'Shravya'
c = "Mutyapu"#strings can be declared in single or double quotes
print(type(b),type(c))

10
<class 'int'>
<class 'str'> <class 'str'>

# DataTypes

There are 6 different data types in python

1 . Numeric : It includes int,float & complex depending on the value we assign to the variable.

In [2]:
x = 10 #integers
y = 12.36 #float
z = 25j #complex
a = True #boolean is used for categorical o/p
num = 10 > 9#is also a bool type var.

2. String : Strings are written in single or double quotes.
Eg : x = "hi"
     y = 'Shravya'

In [1]:
y = "Shravya"
len(y) #length is 7 and indices start from 0 to length-1
y[2]

'r'

In [5]:
y[2] = "p" #Strings cannot be changed (i.e they are immutable)

TypeError: 'str' object does not support item assignment

In [6]:
y[2:5] #This concept is called slicing
#Slicing : StringName[start:stop:step(optional)]
#last index can be 6 or -1
#first index is 0 or -7

'rav'

In [ ]:
y.lower() #changes all the letters to lowercase
y.upper() #uppercase

3 . Lists : Collection of items.Can be of different type.Holds duplicate entries and are ordered and lists are mutable.

In [7]:
lis = [] #list declaration.

In [29]:
lis = [10,20,30,30,'Shravya',True]

In [10]:
lis[2] = 25 #to change the value in a list.

In [36]:
lis #check if changes are successful.

[10, 6, 6]

In [39]:
lis.append(12) # append fn adds the value at the end.

In [ ]:
lis.remove(12) #removes the value from the lis
##No removeAll function available.

In [35]:
del lis[1:3] #deletes values with indices 2,3
lis.pop() #deletes the last element in the lis
lis.insert(6,6) # when the given index is unavailable it appends at the end.(ind,val)
lis.sort()
lis.reverse() #reverses the elements order in the list.

In [37]:
x = [2,3]
lis.extend(x) # appends in the end
lis
lis.clear() # clears all the elemts in the list.

[10, 6, 6, 2, 3]

In [4]:
a = [1,4,11,12]
b = [2,2,2,2]
c = [min(x) for x in zip(a,b)] 
#zip function finds the minumum by comparing elements of same indexes in 2 lists
#if the size of the lists are unequal then it compares until the indexes are equal and the rest are ignored.

[1, 2, 2, 2]

4 . Dictionaries :Unordered,can be changed.No duplicate keys are permitted.Values can be duplicates.It stores objs in the form of key-value pair.

In [7]:
courses = {} #empty dict declaration
courses = {1:"python",2: "Java",3:"ADS",'four':"AI/ML"}
courses

{1: 'python', 2: 'Java', 3: 'ADS', 'four': 'AI/ML'}

In [18]:
courses['four'] #accesing with indexes or
courses.get(3) #accesing using get function.
courses[3] = "Mobile Programming" #changing the values using indexes.
print([*courses]) # returns keys as list
print(list(courses.keys())) #same thing in a different way.

[1, 2, 3, 'four']
[1, 2, 3, 'four']

In [23]:
keyList = ["Paras", "Jain", "Cyware"] #intialize the dictionary with keys which are items in the list.
  
# Using Dictionary comprehension 
myDict = {key: None for key in keyList} 
print(myDict)

# using fromkeys() method 
StudentDict = dict.fromkeys(keyList, None)
print("StudentDict",StudentDict)

# using zip() function to create a dictionary 
# with keys and same length None value  
dct = dict(zip(keyList, [None]*len(keyList)))
print("Dct",dct)

{'Paras': None, 'Jain': None, 'Cyware': None}
StudentDict {'Paras': None, 'Jain': None, 'Cyware': None}
Dct {'Paras': None, 'Jain': None, 'Cyware': None}

In [24]:
# Initialize list with common value
test_list = ['gfg', 'is', 'best'] 
  
# printing original list 
print("The original list is : " + str(test_list)) 
  
# Initialize dictionary with common value 
# Using fromkeys() 
res = dict.fromkeys(test_list, 4) 
  
# printing result 
print("The constructed dictionary with common value : " + str(res))

The original list is : ['gfg', 'is', 'best']
The constructed dictionary with common value : {'gfg': 4, 'is': 4, 'best': 4}

In [25]:
#adding new item to dict

dict = {'key1':'geeks', 'key2':'for'} 
  
# using __setitem__ method 
dict.__setitem__('newkey2', 'GEEK')
#using update function
dict.update({'key3':'geeks'})

dict

{'key1': 'geeks', 'key2': 'for', 'newkey2': 'GEEK', 'key3': 'geeks'}

5 . Tuple : Ordered,cannot be changed.Duplicate entries are present.Immutable.

In [29]:
animals = () # tuple creation.
animals = ('dog','cat','cow')
animals[1] # accessing with indexes.
animals[-1] #negative indexing is also possible.
animals[1] = "fnkjl" #assignment after creation is also not possible.
animals[4] = "poew" #no assignment allowed in this way as weel.

TypeError: 'tuple' object does not support item assignment

In [30]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple : considered as a string
thistuple = ("apple")
print(type(thistuple))

del thistuple #this can delete the tuple completely.
#removing of one item from tuple is not possible.

<class 'tuple'>
<class 'str'>

In [34]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3,3)

tuple3 = tuple1 + tuple2
print(tuple3) #joining two tuple is possible.

print(tuple2.count(3))
print(tuple2.count(7))

print(tuple2.index(3)) # gives the first occurence.

('a', 'b', 'c', 1, 2, 3, 3)
2
0
2

6 . SET : Unoredered, No duplicate elements are present.Since it is unordered we cannot use indexing.

In [45]:
seteg = {10,20,20,30,40,"edureka"}
seteg # duplicates are ignored.

{10, 20, 30, 40, 'edureka'}

Accessing items : We can run a loop and check for a item but cannot access the items using indexes.

Changing items : Once a set is created, we cannot change the items but we can add items.

In [46]:
seteg.add("Shravya") # adding items to the set.
seteg.update(["qwerty",]) # if comma is not used then it would add qwerty by splitting it into letters.
seteg
#update() could be used when we'd like to add a list to the set.
#len() could be used to get the number of items

{10, 20, 30, 40, 'Shravya', 'edureka', 'qwerty'}

remove() and discard() are two functions to remove items from the set.Discard does not raise an error when item is unavilable.

seteg.remove("Item") # syntax.

pop() would delete the last element and since this is unordered we'd not know what element it is. 

del seteg # would delete the whole set.

set() function removes the duplicates in the given values.

In [48]:
set1 = {1,2,3}
set3 = seteg.union(set1) #joins both the sets ignoring the duplicates.
set3
set1.update(seteg) # adds the elements of seteg to set1 ignoring the duplicates.
set1

{1, 10, 2, 20, 3, 30, 40, 'Shravya', 'edureka', 'qwerty'}

Range : A function in python which is used when a specific action has to be performed a specific number of times.

range(start,end,step) an example would be printing series of numbers.end value is excluded.

In [51]:
# printing a number 
# default value of start is 0 & step is 1.
for i in range(10): 
    print(i, end =" ") 
print()

0 1 2 3 4 5 6 7 8 9

Points to remember about range():
- range() function only works with the integers i.e. whole numbers.

- All argument must be integers. User can not pass a string or float number or any other type in a start, stop and step argument of a range().

- All three arguments can be positive or negative.

- The step value must not be zero. If a step is zero python raises a ValueError exception.

- range() is a type in Python

In [53]:
type(range(3)) 

# accessing a items 
range(3)[1]

1

Concatenation of two range() functions : 
    
    The result from two range() functions can be concatenated by using the chain() method of itertools module. The chain() method is used to print all the values in iterable targets one after another mentioned in its arguments.

In [54]:
# Python program to concatenate 
# the result of two range functions 
  
  
from itertools import chain 
  
  
# Using chain method 
print("Concatenating the result") 
res = chain(range(5), range(10, 20, 2)) 
  
for i in res: 
        print(i, end=" ")

Concatenating the result
0 1 2 3 4 10 12 14 16 18